ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #115169;
    position: relative;
    top: 0;
    width: 100%;
    padding-left: 100px;

}

li {
    float: left;

}

li a {
    display: block;
    color: #d8fafa;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px
}

li a:hover {
    background-color: #2b7f9f;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    color: white;
}


h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    color: #9d8b77
}

#strand {
    overflow: hidden;
    width: 100vw;
    height: 56vw;
    margin: auto;
    position: relative;
    padding: 60px
}

#baggrund {
    overflow: hidden;
    background-image: url(titlebaggrund.svg);
    background-size: 79%;
    width: 100vw;
    height: 56vw;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;

}

#titlelogo {

    position: absolute;
    z-index: 2;
    top: 20vw;
    left: 18vw;
    transform: scale(4);
    line-height: 1;
    text-align: center;
    text-shadow: 1px 1px 70px black;

}

#start {
    position: absolute;
    z-index: 2;
    top: 24vw;
    left: 60vw;
    transform: scale(4);
    line-height: 1;
    text-align: center;
    text-shadow: 1px 1px 40px black;
    animation-name: start;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    background-position: center center;
}

@keyframes start {
    0% {
        transform: scale(3.5);
    }
    50% {
        transform: scale(4);
    }
    100% {
        transform: scale(3.5);
    }
}

#skildpadde {
    background-image: url(SVG/6step_skildpadde_uden.svg);
    width: 10vw;
    height: 10vw;
    background-size: 600% 200%;
    position: absolute;
    left: 40vw;
    top: 28vw;
    z-index: 3;
}


.swim {
    animation-name: swim_kf;
    animation-duration: 2s;
    animation-timing-function: steps(6);
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes swim_kf {
    0% {
        /*background-position: 0% -100%;*/
        background-position: 0 0;
        left: 85vw;
        top: 40vw;
    }
    100% {
        /* background-position: -600% -100%;*/
        background-position: -600% 0;
        left: 40vw;
        top: 28vw;
    }
}

#skrald1 {
    background-image: url(skrald_papirkule.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 6;
    position: absolute;
    left: 8vw;
    top: 29vw;
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    background-position: center center;
}

@keyframes skrald {
    0% {
        transform: scale(0.4);
    }
    50% {
        transform: scale(0.6);
    }
    100% {
        transform: scale(0.4);
    }
}

#skrald2 {
    background-image: url(skrald_aludose.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 6;
    position: absolute;
    left: 1vw;
    top: 36vw;
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    background-position: center center;
}

#skrald3 {
    background-image: url(skrald_dose.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 6;
    position: absolute;
    left: 29vw;
    top: 23vw;
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    background-position: center center;
}

#skrald4 {
    background-image: url(skrald_gronflaske.svg);
    background-size: 35%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 6;
    position: absolute;
    left: 45vw;
    top: 35vw;
    transform: rotate(10deg);
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5.3s;
    background-position: center center;

}

#skrald5 {
    background-image: url(skrald_lilleflaske.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 7;
    position: absolute;
    left: 56vw;
    top: 22vw;
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    background-position: center center;
}

#skrald6 {
    background-image: url(skrald_pose.svg);
    background-size: 35%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 6;
    position: absolute;
    left: 29vw;
    top: 35.4vw;
    transform: rotate(-50deg);
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    background-position: center center;
}

#skrald7 {
    background-image: url(skrald_storflaske.svg);
    background-size: 43%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 6;
    position: absolute;
    left: 14vw;
    top: 34vw;
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    background-position: center center;
}

#lilleboble {}

#storboble {}

#flaskogbobler {}
