/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Rokkitt', serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Carter One', cursive;
font-family: 'Finger Paint', cursive;
*/


ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #115169;
    position:relative;
    top: 0;
    width: 100%;
    padding-left: 100px;

}

li {
    float: left;

}

li a {
    display: block;
    color: #d8fafa;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px
}

li a:hover {
    background-color: #2b7f9f;

}

img{
    width: 100%
}

body {
    background-color: azure;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
}


h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
}

h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
}

p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
}


