.strand {
    overflow: hidden;
    width: 80vw;
    height: 80vw;
    margin: auto;
    position: relative;
}

.baggrund {
    background-image: url(baggrund3.svg);
    background-size: cover;
    width: 80vw;
    height: 45vw;
    margin: auto;
    position: relative;
    z-index: 1;
}

.mellemgrund {
    background-image: url(mellemgrund.svg);
    margin: auto;
    width: 80vw;
    height: 29.3vw;
    z-index: 2;
    position: relative;
    top: -28.4vw
}

.Forgrund {
    background-image: url(forgrund1-01.svg);
    background-size: contain;
    margin: auto;
    width: 80vw;
    height: 102vw;
    z-index: 4;
    position: relative;
    top: -75vw;
    background-repeat: no-repeat;
}

.mandsurferogersej {
    background-image: url(Mandsurferogersej.svg);
    background-size: 100%;
    height: 4vw;
    width: 5vw;
    z-index: 5;
    position: absolute;
    top: 20vw;
    left: 30vw;
    transform: scale(6);
    animation-name: mandsej;
    animation-timing-function: ease;
    animation-duration: 8s;
}

@keyframes mandsej {
    from {
        left: -5vw
    }
    to {
        left: 30vw
    }
}

.kedafdetskildpadde {
    background-image: url(Skildpaddein%C3%B8d.svg);
    background-size: 15%;
    height: 84vw;
    width: 70vw;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
    left: 48vw;
    top: 33.2vw;
    animation-name: skildpadde;
    animation-timing-function: linear;
    animation-duration: 5s;
}

@keyframes skildpadde {
    from {
        left: 100vw;
        top: 50vw
    }
    to {
        left: 48vw;
        top: 33.2;
    }
}

.skrald_1 {
    background-image: url(skrald_papirkule.svg);
    background-size: 20%;

    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 6;
    position: absolute;
    left: 15vw;
    top: 47vw;
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    background-position: center center;
}

@keyframes skrald {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(0.4);
    }
}

.skrald_2 {
    background-image: url(skrald_aludose.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 6;
    position: absolute;
    left: 0.1vw;
    top: 40vw;
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    background-position: center center;
}

.skrald_3 {
    background-image: url(skrald_dose.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 6;
    position: absolute;
    left: 30vw;
    top: 41vw;
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    background-position: center center;
}

.skrald_4 {
    background-image: url(skrald_gronflaske.svg);
    background-size: 35%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 6;
    position: absolute;
    left: 45vw;
    top: 47vw;
    transform: rotate(10deg);
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    background-position: center center;

}

.skrald_5 {
    background-image: url(skrald_lilleflaske.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 7;
    position: absolute;
    left: 56vw;
    top: 26vw;
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    background-position: center center;
}

.skrald_6 {
    background-image: url(skrald_pose.svg);
    background-size: 35%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 6;
    position: absolute;
    left: 65vw;
    top: 46vw;
    transform: rotate(-50deg);
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    background-position: center center;
}

.skrald_7 {
    background-image: url(skrald_storflaske.svg);
    background-size: 43%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 19vw;
    z-index: 6;
    position: absolute;
    left: 20vw;
    top: 32vw;
    animation-name: skrald;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    background-position: center center;
}

.lilleboble {
    background-image: url(lil.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 10;
    z-index: 8;
    position: absolute;
    left: ;
    top: ;
}

.storbobler {
    background-image: url(stor.svg);
}

.boblemedflaske {
    background-image: url(flask.svg);
}

.skraldeborge {
    float: left;
}

.oh {
    overflow: hidden;
}

.super {
    width: 80%;
    height: 80%;
    display: block;
}
